html {
  background-color: black;
}

.row {
  display: flex;
  justify-content: center;
}

.SortButton {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.SortButton Button {
  padding: 10px;
  margin: 10px;
}

.page-link {
  background-color: black !important;
  color: white !important;
  border: none;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 80px;
}

@media (max-width: 720px) {
  .MovieBox {
    margin-top: 400px !important;
  }
  .SortButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 100px;
  }

  .SortButton button {
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paginationContainer {
    padding: 20px 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }

  .pagination .page-item {
    display: none;
  }

  .pagination .page-item:first-child,
  .pagination .page-item:last-child {
    display: inline-block;
  }
}

.MovieGenreContainer {
  padding-top: 60px;
  margin-left: 20px;
}

.NoGenre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.GenreBadge {
  cursor: pointer;
}
