html {
  background-color: black;
}

.row {
  display: flex;
  justify-content: center;
}

.SortButton {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.SortButton Button {
  padding: 10px;
  margin: 10px;
}

@media (max-width: 720px) {
  .SortButton {
    width: 100%;
    z-index: 1000;
  }

  .SortButton button {
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.MovieGenreContainer {
  padding-top: 60px;
  margin-left: 20px;
}

.NoGenre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.GenreBadge {
  cursor: pointer;
}

.active a {
  color: red !important;
}

.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
}