.form-control.search-box:focus {
  box-shadow: none;
  border-color: var(--bs-border-color);
}

.nav-link {
    display: block;
    padding: 10px;
    color: white !important;
    text-decoration: none;
    background: 0 0;
    border: 0;
}